/* glowing eyes CSS */

body {
  background: black;
  height: 100vh;
}

.eyes {
  height: 200px;
  width: 200px;
  background: #0fc900;
  border-radius: 100% 0;
  transform: rotate(45deg);
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-name: glow-color-1;
}

.pupil {
  height: 70px;
  width: 70px;
  background: black;
  border-radius: 100% 0;
  transform: translate(65px, 65px) rotate(90deg);
}

.space {
  height: 200px;
  width: 200px;
}

.flex {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


@keyframes glow-color-1 {
  0% {
    box-shadow: 0 0 5px 5px #0fc900;
  }
  10% {
    box-shadow: 0 0 10px 5px #0fc900;
  }
  20% {
    box-shadow: 0 0 15px 5px #0fc900;
  }
  30% {
    box-shadow: 0 0 20px 5px #0fc900;
  }
  40% {
    box-shadow: 0 0 25px 5px #0fc900;
  }
  50% {
    box-shadow: 0 0 30px 5px #0fc900;
  }
  60% {
    box-shadow: 0 0 25px 5px #0fc900;
  }
  70% {
  box-shadow: 0 0 20px 5px #0fc900;
  }
  80% {
  box-shadow: 0 0 15px 5px #0fc900;
  }
  90% {
  box-shadow: 0 0 10px 5px #0fc900;
  }
  100% {
    box-shadow: 0 0 5px 5px #0fc900;
  }
}



/* MEDIA QUERIES */

/* tablet */
@media all and (max-width: 850px) {

  .eyes {
    height: 100px;
    width: 100px;
  }

  .pupil {
    height: 40px;
    width: 40px;
    transform: translate(30px, 30px) rotate(90deg);
  }

  .space {
    height: 100px;
    width: 100px;
  }
}


/* phone */
@media all and (max-width: 480px) {

  .eyes {
    height: 70px;
    width: 70px;
  }

  .pupil {
    height: 30px;
    width: 30px;
    transform: translate(20px, 20px) rotate(90deg);
  }

  .space {
    height: 70px;
    width: 70px;
  }

}
